#galaxy-space-body .shining-block {
  position: absolute;
}

#galaxy-space-body .shining-block {
  top: 0;
  left: 50%;
}

#galaxy-space-body .shining-block .shining-coins .coins1 {
  position: relative;
  animation: coin1 3.6s forwards;
  z-index: 1;
  left: -930%;
}

#galaxy-space-body .shining-block .shining-coins .coins2 {
  position: relative;
  animation: coin2 4s forwards;
  z-index: 1;
  left: -750%;
}

#galaxy-space-body .shining-block .shining-coins .coins3 {
  position: relative;
  animation: coin3 6s forwards;
  z-index: 1;
  left: -480%;
}

#galaxy-space-body .shining-block .shining-coins .coins4 {
  position: relative;
  animation: coin4 5s forwards;
  z-index: 1;
  left: -280%;
}

#galaxy-space-body .shining-block .shining-coins .coins5 {
  position: relative;
  animation: coin5 6.5s forwards;
  z-index: 1;
  left: -130%;
}

#galaxy-space-body .shining-block .shining-coins .coins6 {
  position: relative;
  animation: coin6 4.5s forwards;
  z-index: 1;
  left: 130%;
}

#galaxy-space-body .shining-block .shining-coins .coins7 {
  position: relative;
  animation: coin7 3.4s forwards;
  z-index: 1;
  left: 320%;
}

#galaxy-space-body .shining-block .shining-coins .coins8 {
  position: relative;
  animation: coin8 4.8s forwards;
  z-index: 1;
  left: 530%;
}

#galaxy-space-body .shining-block .shining-coins .coins9 {
  position: relative;
  animation: coin9 4.1s forwards;
  z-index: 1;
  left: 730%;
}

#galaxy-space-body .shining-block .shining-coins .coins10 {
  position: relative;
  animation: coin10 3.3s forwards;
  z-index: 1;
  left: 815%;
}

#galaxy-space-body .shining-block .shining-coins .coins11 {
  position: relative;
  animation: coin11 4.3s forwards;
  z-index: 1;
  left: 920%;
}

#galaxy-space-body .shining-block .shining-coins .coins12 {
  position: relative;
  animation: coin12 3.3s forwards;
  z-index: 1;
  left: 1190%;
}

#galaxy-space-body .shining-block .shining-coins .coins13 {
  position: relative;
  animation: coin13 3.5s forwards;
  z-index: 1;
  left: 80%;
}

#galaxy-space-body .shining-block .shining-coins .coins14 {
  position: relative;
  animation: coin14 4.4s forwards;
  z-index: 1;
  left: 190%;
}

#galaxy-space-body .shining-block .shining-coins .coins15 {
  position: relative;
  animation: coin15 3.7s forwards;
  z-index: 1;
  left: -317%;
}

#galaxy-space-body .shining-block .shining-coins .coins16 {
  position: relative;
  animation: coin16 4.2s forwards;
  z-index: 1;
  left: -190%;
}

#galaxy-space-body .shining-block .shining-coins .coins17 {
  position: relative;
  animation: coin17 4.8s forwards;
  z-index: 1;
  left: -490%;
}

#galaxy-space-body .shining-block .shining-coins .coins18 {
  position: relative;
  animation: coin18 3.2s forwards;
  z-index: 1;
  left: -990%;
}

#galaxy-space-body .shining-block .shining-coins .coins19 {
  position: relative;
  animation: coin19 4s forwards;
  z-index: 1;
  left: -679%;
}

#galaxy-space-body .shining-block .shining-coins .coins20 {
  position: relative;
  animation: coin20 3.3s forwards;
  z-index: 1;
  left: -790%;
}

#galaxy-space-body .shining-block .shining-coins .coins21 {
  position: relative;
  animation: coin21 3.3s forwards;
  z-index: 1;
  left: -1790%;
}

#galaxy-space-body .shining-block .shining-coins .coins22 {
  position: relative;
  animation: coin22 5s forwards;
  z-index: 1;
  left: -1894%;
}

#galaxy-space-body .shining-block .shining-coins .coins23 {
  position: relative;
  animation: coin23 3.9s forwards;
  z-index: 1;
  left: -1563%;
}

#galaxy-space-body .shining-block .shining-coins .coins24 {
  position: relative;
  animation: coin24 4.1s forwards;
  z-index: 1;
  left: -1690%;
}

#galaxy-space-body .shining-block .shining-coins .coins25 {
  position: relative;
  animation: coin25 5s forwards;
  z-index: 1;
  left: 1330%;
}

#galaxy-space-body .shining-block .shining-coins .coins26 {
  position: relative;
  animation: coin26 4.5s forwards;
  z-index: 1;
  left: 1771%;
}

#galaxy-space-body .shining-block .shining-coins .coins27 {
  position: relative;
  animation: coin27 3.3s forwards;
  z-index: 1;
  left: 1790%;
}

#galaxy-space-body .shining-block .shining-coins .coins28 {
  position: relative;
  animation: coin28 3.6s forwards;
  z-index: 1;
  left: 1894%;
}

#galaxy-space-body .shining-block .shining-coins .coins29 {
  position: relative;
  animation: coin29 3.9s forwards;
  z-index: 1;
  left: 1563%;
}

#galaxy-space-body .shining-block .shining-coins .coins30 {
  position: relative;
  animation: coin30 4.1s forwards;
  z-index: 1;
  left: 1690%;
}

@keyframes coin1 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 0px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 900px;
    opacity: 0;
  }
}

@keyframes coin2 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -50px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 900px;
    opacity: 0;
  }
}

@keyframes coin3 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -90px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 900px;
    opacity: 0;
  }
}

@keyframes coin4 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -140px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 900px;
    opacity: 0;
  }
}

@keyframes coin5 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 0px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes coin6 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 0px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes coin7 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -200px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 700px;
    opacity: 0;
  }
}

@keyframes coin8 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -230px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 900px;
    opacity: 0;
  }
}

@keyframes coin9 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -230px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 900px;
    opacity: 0;
  }
}

@keyframes coin10 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -120px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes coin11 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -230px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 900px;
    opacity: 0;
  }
}

@keyframes coin12 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -820px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 720px;
    opacity: 0;
  }
}

@keyframes coin13 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -550px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes coin14 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -620px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 680px;
    opacity: 0;
  }
}

@keyframes coin15 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -390px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 650px;
    opacity: 0;
  }
}

@keyframes coin16 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -380px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 770px;
    opacity: 0;
  }
}

@keyframes coin17 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -420px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 850px;
    opacity: 0;
  }
}

@keyframes coin18 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -390px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 650px;
    opacity: 0;
  }
}

@keyframes coin19 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -510px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 930px;
    opacity: 0;
  }
}

@keyframes coin20 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -750px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 750px;
    opacity: 0;
  }
}

@keyframes coin21 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -950px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 859px;
    opacity: 0;
  }
}

@keyframes coin22 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -1534px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 952px;
    opacity: 0;
  }
}

@keyframes coin23 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -750px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 758px;
    opacity: 0;
  }
}

@keyframes coin24 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -1063px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 1050px;
    opacity: 0;
  }
}

@keyframes coin24 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -990px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 933px;
    opacity: 0;
  }
}

@keyframes coin25 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -765px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 893px;
    opacity: 0;
  }
}

@keyframes coin26 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -873px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 850px;
    opacity: 0;
  }
}

@keyframes coin27 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -955px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 920px;
    opacity: 0;
  }
}

@keyframes coin28 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -1046px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 450px;
    opacity: 0;
  }
}

@keyframes coin29 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -1070px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 911px;
    opacity: 0;
  }
}

@keyframes coin30 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -1052px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 750px;
    opacity: 0;
  }
}

#galaxy-space-body .shining-block .shining-gems .gems1 {
  position: relative;
  animation: gem1 4s forwards;
  z-index: 1;
  left: -1560%;
}

#galaxy-space-body .shining-block .shining-gems .gems2 {
  position: relative;
  animation: gem2 4.2s forwards;
  z-index: 1;
  left: -1440%;
}

#galaxy-space-body .shining-block .shining-gems .gems3 {
  position: relative;
  animation: gem3 3.5s forwards;
  z-index: 1;
  left: -1670%;
}

#galaxy-space-body .shining-block .shining-gems .gems4 {
  position: relative;
  animation: gem4 3.5s forwards;
  z-index: 1;
  left: -1430%;
}

#galaxy-space-body .shining-block .shining-gems .gems5 {
  position: relative;
  animation: gem5 3.1s forwards;
  z-index: 1;
  left: -870%;
}

#galaxy-space-body .shining-block .shining-gems .gems6 {
  position: relative;
  animation: gem6 2.8s forwards;
  z-index: 1;
  left: -570%;
}

#galaxy-space-body .shining-block .shining-gems .gems7 {
  position: relative;
  animation: gem7 3.8s forwards;
  z-index: 1;
  left: -650%;
}

#galaxy-space-body .shining-block .shining-gems .gems8 {
  position: relative;
  animation: gem8 3.3s forwards;
  z-index: 1;
  left: -490%;
}

#galaxy-space-body .shining-block .shining-gems .gems9 {
  position: relative;
  animation: gem9 2.6s forwards;
  z-index: 1;
  left: -630%;
}

#galaxy-space-body .shining-block .shining-gems .gems10 {
  position: relative;
  animation: gem10 4.1s forwards;
  z-index: 1;
  left: -1120%;
}

#galaxy-space-body .shining-block .shining-gems .gems11 {
  position: relative;
  animation: gem11 4.9s forwards;
  z-index: 1;
  left: 143%;
}

#galaxy-space-body .shining-block .shining-gems .gems12 {
  position: relative;
  animation: gem12 3.6s forwards;
  z-index: 1;
  left: 229%;
}

#galaxy-space-body .shining-block .shining-gems .gems13 {
  position: relative;
  animation: gem13 3.8s forwards;
  z-index: 1;
  left: 379%;
}

#galaxy-space-body .shining-block .shining-gems .gems14 {
  position: relative;
  animation: gem14 4.6s forwards;
  z-index: 1;
  left: 529%;
}

#galaxy-space-body .shining-block .shining-gems .gems15 {
  position: relative;
  animation: gem15 4s forwards;
  z-index: 1;
  left: 639%;
}

#galaxy-space-body .shining-block .shining-gems .gems16 {
  position: relative;
  animation: gem16 5s forwards;
  z-index: 1;
  left: 771%;
}

#galaxy-space-body .shining-block .shining-gems .gems17 {
  position: relative;
  animation: gem17 4.2s forwards;
  z-index: 1;
  left: 863%;
}

#galaxy-space-body .shining-block .shining-gems .gems18 {
  position: relative;
  animation: gem18 3.7s forwards;
  z-index: 1;
  left: 1229%;
}

#galaxy-space-body .shining-block .shining-gems .gems19 {
  position: relative;
  animation: gem19 3.9s forwards;
  z-index: 1;
  left: 1479%;
}

#galaxy-space-body .shining-block .shining-gems .gems20 {
  position: relative;
  animation: gem20 4.1s forwards;
  z-index: 1;
  left: 1829%;
}

@keyframes gem1 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 0px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem2 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -50px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem3 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -120px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem4 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -120px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem5 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -150px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem6 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -180px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem7 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -230px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem8 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -280px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem9 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -320px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem10 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -350px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem11 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -380px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem12 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -400px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem13 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -500px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 780px;
    opacity: 0;
  }
}

@keyframes gem14 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -400px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem15 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -400px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem16 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -800px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 850px;
    opacity: 0;
  }
}

@keyframes gem17 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -840px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 945px;
    opacity: 0;
  }
}

@keyframes gem18 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -590px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 800px;
    opacity: 0;
  }
}

@keyframes gem19 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -730px;
  }
  10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 823px;
    opacity: 0;
  }
}

@keyframes gem20 {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: -623px;
  }
  /* 10% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  25% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  75% {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  90% {
    -webkit-transform: rotateY(270deg);
    transform: rotateY(270deg);
  } */
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    top: 923px;
    opacity: 0;
  }
}