.open-confirm-grid-container {
  height: 220px;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 20% 20% 30%;
  grid-template-rows: 15% 15% 70%;
  font-size: 23px;
  font-weight: bolder;
  grid-gap: 2px;
}

.open-confirm-grid-container .open-text-block1 {
  grid-column: 2;
  grid-row: 2 / span 3;
}

.open-confirm-grid-container .open-text-block1 .open-gif-chest {
  max-height: 100%;
}

.open-confirm-grid-container .open-text-block2 {
  grid-column: 1 / span 4;
  grid-row: 1;
  font-size: 22px;
  font-family: "微軟正黑體", fantasy;
  color: #217dbb;

}

.open-confirm-grid-container .open-text-block2 .gif-title {
  font-size: 22px;
}

.open-confirm-grid-container .open-text-block3 {
  font-family: "微軟正黑體", fantasy;
  grid-column: 3;
  grid-row: 2;
}

.open-confirm-grid-container .open-text-block3 span {
  margin-right: 30px;
}

.open-confirm-grid-container .open-text-block3 .gems-img,
.open-confirm-grid-container .open-text-block3 .coins-img {
  width: 10%
}

.open-confirm-grid-container .open-text-block4 {
  grid-column: 3;
  grid-row: 3;
}

.open-confirm-grid-container .open-text-block4 .your-award-gif {
  max-height: 80%;
  margin-top: 10px;
}

.lucky-bag .gems-img,
.lucky-bag .coins-img {
  width: 2%
}

.confirm-popup-lucky-bag {
  height: 150px;
  margin-top: 27px;
}
