#galaxy-space-body {
  background-color: #00192D;
  /* background-color: rgb(75, 109, 137); */
  height: 1650px;
}

#galaxy-space-body main {
  position: absolute;
}

.container div,
.container section,
.container img,
.container span,
.container button,
.container a,
.container ul,
.container li,
.container p {
  position: absolute;
}

.horizontal-center {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  background: url("../img/space.png") no-repeat;
  background-size: contain;
  width: 1280px;
  height: 800px;
}

.container .logo {
  width: 200px;
  height: 60px;
  left: 30px;
  top: 20px;
}

.container .activity {
  right: 610px;
  top: 25px;
}

.container .bank {
  right: 430px;
  top: 15px;
}

.container .my-class {
  cursor: pointer;
  right: 250px;
  top: 25px;
}

.container .free {
  cursor: pointer;
  right: 70px;
  top: 20px;
}

.container .fb {
  width: 4%;
  right: 5px;
  top: 35px;
  cursor: pointer;
  transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
}

.container .line {
  width: 4%;
  right: 5px;
  top: 110px;
  cursor: pointer;
  transform: rotate(8deg);
  -webkit-transform: rotate(8deg)
}

.container .event-text {
  top: 200px;
  left: 350px;
}

.container .display-coins {
  left: 800px;
  top: 230px;
}

.container .display-gems {
  left: 1040px;
  top: 232px;
}

.container .totalAssets .coins {
  color: maroon;
  font-size: 22px;
  font-family: "微軟正黑體";
  left: 870px;
  top: 246px;
}

.container .totalAssets .gems {
  color: maroon;
  font-size: 22px;
  font-family: "微軟正黑體";
  left: 1110px;
  top: 246px;
}

/* ============================================> iPad ============================================>*/

@media screen and (max-width: 1280px) {
  #galaxy-space-body {
    height: 1500px;
  }
  .container {
    width: 980px;
  }
  .container .fb {
    width: 5%;
  }
  .container .line {
    width: 5%;
  }
  .container .activity,
  .container .bank,
  .container .my-class,
  .container .free {
    width: 15%;
  }
  .container .activity {
    right: 600px;
    top: 35px;
  }
  .container .display-coins {
    left: 750px;
    top: 180px;
  }
  .container .display-gems {
    left: 752px;
    top: 250px;
  }
  .container .totalAssets .coins {
    font-size: 22px;
    left: 820px;
    top: 197px;
  }
  .container .totalAssets .gems {
    font-size: 22px;
    left: 820px;
    top: 265px;
  }
}

/* ============================================> iPad ============================================>*/

/* ============================================> iPhone ============================================>*/

@media screen and (max-width: 960px) {
  #galaxy-space-body {
    height: 1700px;
  }
  .container {
    width: 375px;
  }
  .container .logo {
    width: 100px;
    height: 26px;
    top: 10px;
  }
  .container .fb {
    top: 105px;
    width: 8%;
  }
  .container .line {
    top: 145px;
    width: 8%;
  }
  .container .bank,
  .container .my-class {
    width: 20%;
  }
  .container .activity {
    width: 23%;
    left: 30px;
    top: 100px;
    transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
  }
  .container .bank {
    left: 140px;
    top: 100px;
    transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
  }
  .container .my-class {
    left: 240px;
    top: 100px;
  }
  .container .free {
    display: none;
  }
  .container .event-text {
    display: none;
  }
  .container .display-coins {
    left: 60px;
    top: 200px;
    width: 120px;
  }
  .container .display-gems {
    left: 220px;
    top: 200px;
    width: 120px;
  }
  .container .totalAssets .coins {
    font-size: 18px;
    left: 102px;
    top: 207px;
  }
  .container .totalAssets .gems {
    font-size: 18px;
    left: 262px;
    top: 207px;
  }
}

/* ============================================> iPhone ============================================>*/